<div class="forecast-container">
  <h2 class="text-center mb-4">5-Day Weather Forecast</h2>
  <div class="row">
    <div
      class="col-md-4 mb-4"
      *ngFor="let day of weatherForecast; let isFirst = first"
    >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            {{ isFirst ? "Today" : (day.date | date : "EEEE") }}
          </h5>
          <p class="card-text">
            <strong>Max Temperature:</strong> {{ day.maxTemperature }}°C
          </p>
          <p class="card-text">
            <strong>Min Temperature:</strong> {{ day.minTemperature }}°C
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
